<span>


</span><div class="container form">
  <%= simple_form_for @list do |l| %>
    <%= l.input :name %>
    <%= l.submit  class: "btn btn-flat"%>
    <%= link_to 'Back', lists_path , class: 'btn btn-flat' %>
  <% end %>
</div>