.card-detail {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-detail > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-detail h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-detail p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-detail-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 253px;
  // align-items: center;
  position: relative;
}

.card-detail .overview {
  max-height: 120px;
  overflow: auto;
  margin-bottom: 8px;

}

.bottom-text {
  position: absolute;
  bottom: 12px;
  }

.bottom-text a{
  color: red;
}
